
sttPrac/memo.txt
sttPrac/memo.txt
sttPrac/mono_output.wav
sttPrac/output.wav
sttPrac/result.csv
sttPrac/segmented_audio/sentence_1.wav
sttPrac/segmented_audio/sentence_2.wav
/sttPrac/segmented_audio
